html {
  font-size: 10px;
  background: url(https://static.roland.com/products/spd_one/images/spd_one_electro_hero.jpg) bottom center;
  background-size: cover;
}
body,html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.grid {
  width: 100%;
  display: table;
  border-collapse:separate;
  border-spacing:15px;
}

.grid-row {
  width: 100%;
  display: table;
  table-layout: fixed;
  margin:0 0 -15px 0;
}

.square {
  width: 100px;
  height: 100px;
}

.item {
  display: table-cell;
  background: #e84485;
  padding: 2%;
}

@media screen and (max-width: 480px) {

 .grid-row {
    display: block;
    width: 100%;
    margin:0;
 }
  
 .item {
  display: block;
	width: 100%;
  margin: 0 0 5px 0;
 }  
 
}


.keys {
  display: flex;
  flex: 1;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

.key {
  border: .4rem solid black;
  border-radius: .5rem;
  margin: 1rem;
  font-size: 1.5rem;
  padding: 1rem .5rem;
  transition: all .07s ease;
  width: 10rem;
  text-align: center;
  color: white;
  background: rgba(0,0,0,0.4);
  text-shadow: 0 0 .5rem black;
}

.playing {
  transform: scale(-2);
  border-color: #ffc600;
  box-shadow: 0 0 1rem #ffc600;
}

kbd {
  display: block;
  font-size: 4rem;
}

.sound {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
  color: #ffc600;
}
